@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(to left, #56ccf2, #2f80ed);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; }

.title {
  margin-top: 10%; }

.banner {
  margin-top: 30px; }

.location {
  margin-top: 20px;
  background: transparent;
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .location__set {
    display: flex;
    justify-content: space-around; }
  .location__name {
    font-size: 15px; }
  .location__degree {
    font-size: 30px;
    text-align: center;
    padding-top: 40px; }
  .location__description {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 10px; }
