@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 1px dotted lightgray;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: -1;
}


.app {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 10%;
  }

  &__form {
    padding-top: 30px;
    display: flex;
    position: relative;
  }

  &__input {
    border: transparent;
    border-radius: 20px;
    width: 300px;
    height: 35px;
    padding-left: 4%;
  }

  &__button {
    background: url(../assets/lens.svg);
    filter: invert(100%);
    border: transparent;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 10px;
    transition: all .3s;
    position: absolute;
    right: -10px;
    bottom: -8px;
  }

  &__message {
    font-size: 10px;
    margin-top: 8px;
  }
}

.banner {
  margin-top: 30px;
}

.location {
  position: relative;
  margin-top: 20px;
  background: transparent;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(22, 21, 21, 0.2);
  padding: 10px;
  border-radius: 5px;

  &__title {
    position: absolute;
    top: 10px;
    align-self: center;
    font-size: 12px;
  }

  &__set {
    display: flex;
    justify-content: space-around;
  }

  &__name {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 50px;
    filter: invert(1);
  }

  &__degree {
    font-size: 30px;
    text-align: center;
    padding-top: 40px
  }

  &__description {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 10px;
  }
}

.city {
  min-width: 200px;
  height: 250px;
  padding: 10px;
  background-color: rgba(22, 21, 21, 0.2);
  margin: 25px 5px 0px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {

  &__results {
    display: flex;
    flex-direction: column;
    list-style: none;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 630px;
    }
  }
}

img {
  filter: invert(1);
}

.loc {

  &__name {

  }

  &__country {

  }

  &__temp {

  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
  }

  &__icon {
    width: 50px;
    height: 50px;
  }
}