@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #56ccf2, #2f80ed);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  margin-top: 10%;
}

.banner {
  margin-top: 30px;
}

button {
  cursor: pointer;
}

input {
  -webkit-appearance: none;
}

button,
input {
  border: none;
  background: none;
  outline: none;
  color: inherit;
}

.location {
  margin-top: 20px;

  &__name {
    font-size: 15px;
  }

  &__degree {
    font-size: 30px;
  }
}

.location,
.weather {
  width: 200px;
}

.weather {
  margin: 0;

  &__degree {
    font-size: 30px;
  }

  &__description {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
  }
}