@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #283c86, #45a247);
}

.app {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 10%;
  }

  &__form {
    padding-top: 30px;
  }

  &__input {
    border: transparent;
    height: 25px;
    outline: transparent;
    border-radius: 5px;
  }

  &__button {
    background: rgba(100, 95, 95, 0.774);
    border: transparent;
    outline: transparent;
    height: 25px;
    width: 50px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: all .3s;

    &:hover {
      color: rgba(100, 95, 95, 0.774);
      background: white;
    }
  }
}

.banner {
  margin-top: 30px;
}

.location {
  margin-top: 130px;
  background: transparent;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    text-align: center;
  }

  &__set {
    display: flex;
    justify-content: space-around;
  }

  &__name {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  &__degree {
    font-size: 30px;
    text-align: center;
    padding-top: 40px
  }

  &__description {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 10px;
  }
}

.city {

}

.results {
  list-style: none;
}